### 1 - UP SAMPLING
### 2 - DOWN SAMPLING

In [3]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0, n_class_1

(900, 100)

In [7]:
## create dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'target' : [1] * n_class_1
})

In [13]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [15]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### UPSAMPLING

In [18]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [20]:
from sklearn.utils import resample # this lib creates more datapoints for minority classes

df_min_upsampled = resample(df_minority, replace = True, n_samples = len(df_majority), random_state = 42
        ) # replace = True means the datapoints will be different

In [22]:
df_min_upsampled.shape

(900, 3)

In [24]:
df_min_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [26]:
df_upsampled = pd.concat([df_majority, df_min_upsampled])

In [28]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### DOWNSAMPLING

In [31]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

## create dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'target' : [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [33]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [35]:
from sklearn.utils import resample # this lib creates more datapoints for minority classes

df_maj_downsampled = resample(df_majority, replace = True, n_samples = len(df_minority), random_state = 42
        ) # replace = True means the datapoints will be different

In [37]:
df_maj_downsampled.shape

(100, 3)

In [39]:
df_maj_downsampled.head()

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0

In [47]:
df_downsampled = pd.concat([df_minority, df_maj_downsampled])

In [49]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64